* {
  box-sizing: border-box;
}

.footer {
  color: #fff;
  height: 100%;
  background-color: rgb(59, 58, 58);
  margin-top: auto;
  padding: 40px 0;
  &__introduction{
    width: 840px;
    margin: 0 auto;
    .contents{
      display: flex;
      .content{
        flex-direction: column;
        display: flex;
        width: calc(1 / 3 * 100%);
        margin:0 2% 0 0;
        text-align: center;
        &__title{
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        a{
          text-decoration: none;
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
  }
  &__images {
    text-align: center;
    .footer-image {
      margin-top: 15px;
      height: 40px;
      vertical-align: bottom;
    }
  }
  &__copy {
    font-size: 11px;
    color: #fff;
    text-align: center;
  }
}
