.user__side
  .user__side__set
  .user__side__list
    .user__side__list__mypage
      .user__side__list__mypage--btn
        = link_to "/users" , class: "mybtn" do 
          マイページ
    .user__side__list__pro
      .user__side__list__pro--btn
        = link_to "/users/edit" , class: "probtn" do
          プロフィール
    .user__side__list__adin
      .user__side__list__adin--btn
        = link_to "/addresses/new" , class: "adbtn" do
          住所登録
    .user__side__list__adedit
      .user__side__list__adedit--btn
        = link_to "/addresses/:id/edit" , class: "adeditbtn" do
          住所変更

-# = link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"list-links"