.user__side
  .user__side__set
    設定
  .user__side__list
    .user__side__list__mypage
      .user__side__list__mypage--btn
        %a( href='/users' class='mybtn')マイページ
    .user__side__list__pro
      .user__side__list__pro--btn
        %a( href='/users/edit' class='probtn')プロフィール
    .user__side__list__out
      .user__side__list__out--btn
        %a( href='http://furima.tokyo/#' class='outbtn')ログアウト
        