= render "/items/templates/head_template"
.done__main
  .done__main__ok
    .done__main__ok__message
      登録完了しました
  .done__main__link
    .done__main__link__top
      = link_to "root" , class: "topBtn" do
        トップ
    .done__main__link__mypage
      = link_to "/users" , class: "myBtn" do
        マイページ
= render "/items/templates/foot_template"
