= render "templates/head_template"
.userEdit
  .userEdit__main
    .userEdit__main--title
    .userEdit__main__nic
      .userEdit__main__nic--kana
      .userEdit__main__nic--name
    .userEdit__main__data
      .userEdit__main__data--in
    .userEdit__main__nameGuide
    .userEdit__main__name
      .userEdit__main__name--first
      .userEdit__main__name--last
    .userEdit__main__kanaGuide
    .userEdit__main__kana
      .userEdit__main__kana--first
      .userEdit__main__kana--last
    .userEdit__main__birthdayGuide
    .userEdit__main__biethday
      .userEdit__main__biethday--year
      .userEdit__main__biethday--mon
      .userEdit__main__biethday--day
    .userEdit__main__postalCode
      .userEdit__main__postalCode--guide
      .userEdit__main__postalCode--nin
    .userEdit__main__postalCodeIn
    .userEdit__main__prefectur
      .userEdit__main__prefectur--guide
      .userEdit__main__prefectur--nin
    .userEdit__main__prefecturIn
    .userEdit__main__city
      .userEdit__main__city--guide
      .userEdit__main__city--nin
    .userEdit__main__cityIn
    .userEdit__main__address
      .userEdit__main__address__guide
      .userEdit__main__address__nin
    .userEdit__main__addressIn
    .userEdit__main__room
      .userEdit__main__room--guide
      .userEdit__main__room--nin
    .userEdit__main__roomIn
    .userEdit__main__regi
      .userEdit__main__regi--btn
