= render "/items/templates/head_template"
.users__main
  = render "users_side"
  .users__main__right
    .users__main__right__name
      = link_to "/users/users" , class: "indexName" do 
        ユーザーネーム
= render "/items/templates/foot_template"
