= render "/items/templates/head_template"
.users__main
  = render "users_side"
  .users__main__right
    .users__main__right__name
      %a( href='/users/users' class='indexName')ユーザーネーム
= render "/items/templates/foot_template"
