= render "/items/templates/head_template"
.show__main
  .show__main__content
    .show__main__content__user
      .show__main__content__user--name
        = link_to "#" , class: "showUserName" do
          ユーザーネーム
    .show__main__content__data
      ユーザー詳細画面
    .show__main__content__icon
      .show__main__content__icon--fb
        F
      .show__main__content__icon--tw
        T
      .show__main__content__icon--ln
        L
    .show__main__content__goods
      .show__main__content__goods--name
        この出品者の商品
      .show__main__content__goods--product
= render "/items/templates/foot_template"
