.subFooter
  .subFooter__info
    %ul.contents
      %li.content
        = link_to "プライバシーポリシー", "#"
      %li.content
        = link_to "フリマル利用規約", "#"
      %li.content
        = link_to "特定商取引に関する表記", "#"
  .subFooter__center
    = image_tag src ="logo-gray.png", id: "exbFooter__center__logo", width: '200'
  .subFooter__copy
    ©︎ frimar.2020