= render "/items/templates/head_template"
.addressCreate
  = render "/users/users_side"
  .addressCreate__wrapper
    .addresseCreateFrame
      .addresseCreateTitle
        %p 登録完了！
= render "/items/templates/foot_template"