* {
  box-sizing: border-box;
}

.topMain{
  &__topVisual{
    width: 100%;
    height: 560px;
    background-image:image-url("mainVisual-pict.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    }

  .content{
    color: #fff;
    max-width: 1280px;
    width: 100%;
    padding: 35px 0 0 20px;
    &__topVisualTitle{
      font-size: 60px;
      display: block;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      line-height: 1.2;
    }
    &__topVisualMessage{
      font-size: 18px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      line-height: 1.7;
      margin-top: 16px;
      margin-bottom: 20px;
    }
    &__btn{
      display:flex;
      .appStore{
        img{
          width: 180px;
          height: 54px;
        }
      }
      .googlePlay{
        img{
          width: 180px;
          height: auto;
        }
      }
    }
  }

  &__topIntroduction{
    padding: 60px 20px;
    .content__topIntroductionTitle{
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      line-height: 1.4;
      margin-bottom: 15px;
      position: relative;
    }
    
    .lists{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image{
          position: relative;
          margin-bottom: 20px;
          img{
            width: 100%;
            vertical-align: bottom;
          }
          .list__number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &__text__title{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin-left: 2px;
          span{
            color: #3CCACE;
          }
        }
        &__text__message{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      .list-last{
        width: 30%;
        margin: 16px 0 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  
  &__middleVisual{
    height: 400px;
    background-image:image-url("topMiddleDl-pict.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    display: flex;
    align-items: center;
    
    &__inner{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__title{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__message{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
    }
  }
  &__middleIntroduction{
    padding: 60px 100px;
    background-color: #fff;
    .content__middleIntroductionTitle{
      font-size: 27px;
      text-align: center;
      font-weight: bold;
      padding-bottom: 15px;
      position: relative;
    }
    .content__middleIntroductionItems{
      max-width: 1060px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .content__middleIntroductionItem{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        img{
          width: 100%;
          vertical-align: bottom;
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
        .item__img{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 40px;
          margin-inline-end: 40px;
        }
        .item__title{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }
        .item__message{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200px;
          text-align: left;
        }
      }
    }
  }
  &__pickUpContainer{
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    .head{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .productHead{
      text-align: center;
      font-size: 24px;
      a {
        color: #3CCACE;
        text-decoration: none;
      }
    }
    .productLists{
      width: 780px;
      margin: 26px auto 0;
      display: flex;
      justify-content: space-around;
    }
    .productList{
      width: 220px;
      display: inline-block;
      float: left;
      a{
        text-decoration: none;
      }
      img{
        max-width: 100%;
        width: 100%;
        height: 200px;
        vertical-align: bottom;
      }
      .productList--img{
        max-width: 100%;
        width: 220px;
        position: relative;
        overflow: hidden;
        margin: 0;
        z-index: auto;
      }
      &--body{
        height: 95px;
        background-color: #fff;
        color: #333;
        padding: 16px;
        
        .name{
          overflow: hidden;
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
        }
        ul{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        p{
          font-size: 10px;
          text-align: left;
        }
      }
    }
    &-bottom{
      height: 80px;
      background-color: #f8f8f8;
    }
  }
  &__bttomVisual{
    height: 400px;
    background-image:image-url("bg-appBanner-pict.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    display: flex;
    align-items: center;
    
    &__inner{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: center;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__title{
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__message{
        font-size: 35px;
        margin-bottom: 10px;
      }
    }
  }
  .bottomLine{
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    margin: 0 auto 25px;
  }
  .content__btn_last{
    display:flex;
    margin: 0 auto;
    justify-content: center;
    .appStore{
      img{
        width: 180px;
        height: 54px;
      }
    }
    .googlePlay{
      img{
        width: 180px;
        height: auto;
      }
    }
  }
}


