* {
  box-sizing: border-box;
}

@mixin wrapper($padding: 40px) {
  border-bottom: 2px solid #f8f8f8;
  padding: $padding;
}

@mixin formBox($height: 50px, $margin-bottom: 40px, $width: 100%) {
  height: $height;
  width: $width;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray; 
  margin-bottom: $margin-bottom;
  padding: 10px;
}

@mixin janle($padding: 15px 0, $font-weight: 600) {
  padding: $padding;
  font-weight: $font-weight;
  display: flex;
}

@mixin dFlex($display: flex, $justify-content: center) {
  display: $display;
  justify-content: $justify-content;
}

@mixin mark() {
  height: 20px;
  background-color: red;
  font-size: 12px;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  padding: 0 3px;
  margin: auto 0;
  margin-left: 10px;
}

#mark {
@include mark();
}

#mark2 {
@include mark();
background-color: gray;
}

#text {
  font-weight: 600;
}

#janle {
  margin-bottom: 20px;
  font-weight: 600;
  color: #878787;
}
