// 下記は住所登録ページ（newアクション）の記述
@mixin centerin {
  display: flex;
  margin: auto;
}
.addresseMain {
  background-color: #f8f8f8;
  display: flex;
  padding-top: 100px;
  &__wrapper {
    @include wrapper();
    background-color: white;
    width: 50%;
    margin: 5px auto;
    .addresseFrame {
      margin: 0 auto;
      width: 70%;
      .addresseTitle {
        font-size: 20px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        font-weight: 600;
        padding-bottom: 40px;
      }
      .addresseName__guide {
        width: 100%;
        @include centerin;
      }
      #firstnameForm {
        @include formBox();
        width: 40%;
      }
      #lastnameForm {
        @include formBox();
        width: 40%;
      }
      .addresseNameKana__guide {
        @include centerin;
      }
      #firstname_hiraganaForm {
        @include formBox();
        width: 40%;
      }
      #lastname_hiraganaForm {
        @include formBox();
        width: 40%;
      }
      .addresseTel__guide {
        @include centerin;
      }
      #addresseTel {
        @include formBox();
      }
      .addressePostalCode__guide {
        @include centerin;
      }
      #addressePostalCode {
        @include formBox();
      }
      .addressePrefectare__guide {
        @include centerin;
      }
      #addressePrefectare {
        @include formBox();
      }
      .addresseCity__guide {
        @include centerin;
      }
      #addresseCity {
        @include formBox();
      }
      .addresseAddress__guide {
        @include centerin;
      }
      #addresseAddress {
        @include formBox();
      }
      .addresseRoom__guide {
        @include centerin;
      }
      #addresseRoom {
        @include formBox();
      }
    }
  }
}
// 下記は住所登録ページ（newアクション）の記述
.userEdit {
  background-color: #f8f8f8;
  display: flex;
  padding-top: 100px;
  &__wrapper {
    @include wrapper();
    background-color: white;
    width: 50%;
    margin: 5px auto;
    .userEditFrame {
      margin: 0 auto;
      width: 70%;
      .userEditTitle {
        font-size: 20px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        font-weight: 600;
        padding-bottom: 40px;
      }
      .userEditNicGuide {
        width: 100%;
        display: flex;
        margin: auto;
      }
      #nicknameForm {
        @include formBox();
      }
      .userEditName {
        width: 100%;
        display: flex;
        margin: auto;
      }
      #firstnameForm {
        @include formBox();
        width: 49%;
      }
      #lastnameForm {
        @include formBox();
        width: 49%;
      }
      .userEditKana {
        display: flex;
        margin: auto;
      }
      #firstname_hiraganaForm {
        @include formBox();
        width: 49%;
      }
      #lastname_hiraganaForm {
        @include formBox();
        width: 49%;
      }
      .userEditBirthday {
        display: flex;
        margin: auto;
      }
      #birthForm {
        @include formBox();
      }
      #birthForm2 {
        @include formBox();
      }
      .userEditPas {
        display: flex;
        margin: auto;
      }
      #pwForm {
        @include formBox();
      }
      .userEditPas2 {
        display: flex;
        margin: auto;
      }
      #pwForm {
        @include formBox();
      }
      #sendBtn {
        height: 50px;
        width: 100%;
        background-color: #3DCACE;
        margin: auto;
        border-radius: 5px;
        line-height: 50px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
// 下記は住所登録完了画面（create）の記述
@mixin endbtn {
  text-decoration: none;
  text-align: center;
  width: 50%;
  font-size: 20px;
  font-weight: 550;
  color: #3DCACE;
}
.addressCreate {
  background-color: whitesmoke;
  display: flex;
  .addressCreate__wrapper {
    height: 100vw;
    width: 100%;
    display: flex;
    .addresseCreateFrame {
      margin: 5px auto;
      width: 70%;
      background-color: white;
      .addresseCreateTitle {
        height: 300px;
        width: 100%;
        text-align: center;
        line-height: 300px;
        font-weight: 600;
        font-size: 30px;
      }
      .addresseLink {
        width: 100%;
        display: flex;
        .topBtn {
          @include endbtn;
        }
        .myBtn {
          @include endbtn;
        }
      }
    }
  }
}
