@import "reset";
@import "items";
@import "templates/head_template";
@import "templates/foot_template";
@import "templates/new_btn";
@import "new";
@import "show";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "purchase";
@import "users";
@import "signin";
@import "signup";
@import "done";
@import "newCard";
@import "confirmation";
@import "showCard";
@import "addresses";
@import "templates/sub_foot_template";
@import "search";


.breadcrumbs {
  font-size: 12px;
  padding: 20px 190px;
  border-bottom: 1px solid lightgray;
  a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
  }
  a:hover {
    color: #FFC36F;
    border-bottom: 1px solid #FFC36F;
    }
  .current {
    margin-left: 10px;
    font-weight: 600;
  }
}