.breadcrumb{
  width: 100%;
  height: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  ul{
    padding: 17px;
    max-width: 1040px;
    margin: 0 auto;
    font-size: 14px;
  }
}
.searchMain{
  background-color: #f8f8f8;
  .indexMain{
    padding: 40px;
    margin: 0 auto;
    &__box{
      width: 700px;
      margin: 0 auto;
      .searchTitle{
        h2{
          background-color: #3CCACE;
          border-radius: 5px;
          padding: 16px 10px 8px;
          color: #fff;
          text-align: center;
          font-weight: bold;
          font-size: 24px;
          .result{
            font-size: 20px;
            font-weight: normal;
          }
        }
      }  
    }
    .productLists{
      width: 1040px;
      margin: 26px auto 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 25px;
    }
    .productList{
      width: 220px;
      display: inline-block;
      a{
        text-decoration: none;
      }
      img{
        max-width: 100%;
        width: 100%;
        height: 200px;
        vertical-align: bottom;
      }
      .productList--img{
        max-width: 100%;
        width: 220px;
        position: relative;
        margin: 0;
        z-index: auto;
      }
      &--body{
        height: 95px;
        background-color: #fff;
        color: #333;
        padding: 16px;
        
        .name{
          overflow: hidden;
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
        }
        ul{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        p{
          font-size: 10px;
          text-align: left;
        }
      }
    }
  }
}

.topMain__bttomVisual{
  height: 300px;
  background-image:image-url("bg-appBanner-pict.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  display: flex;
  align-items: center;
  
  &__inner{
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: center;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    &__title{
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__message{
      font-size: 35px;
      margin-bottom: 10px;
    }
  }
}
.bottomLine{
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  margin: 0 auto 25px;
}
.content__btn_last{
  display:flex;
  margin: 0 auto;
  justify-content: center;
  .appStore{
    img{
      width: 180px;
      height: 54px;
    }
  }
  .googlePlay{
    img{
      width: 180px;
      height: auto;
    }
  }
}