.ShowCard {
  background-color: #fff;
  width: 55%;
  height: 300px;
  margin: 0 10%;
}
.card__image {
  margin-top: 20px;
}
.delete__button {
  position: absolute;
  top: 40px;
  right: 0;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid red;
  color: red;
}