// 下記はユーザーページで主に使うサイドメニュー
@mixin btnsize {
  height: 70px;
  width: 200px;
}
@mixin btn {
  height: 70px;
  width: 200px;
  margin-top: 2px;
  font-size: 20px;
  text-align: center;
  border: solid;
  line-height: 70px;
  border-radius: 5px;
  font-weight: 550;
  border-color: #3DCACE;
  background-color: white;
}
@mixin btnwrite {
  text-decoration: none;
  color: #3DCACE;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.user__side {
  &__set {
    height: 40px;
    width: 100px;
    margin-left: 5px;
    padding-top: 5px;
    font-size: 20px;
  }
  &__list {
    height: 214px;
    width: 200px;
    &__mypage {
      @include btnsize;
      &--btn {
        @include btn;
        position: relative;
        .mybtn {
          @include btnwrite;
        }
      }
    }
    &__pro {
      &--btn {
        @include btn;
        position: relative;
        .probtn {
          @include btnwrite;
        }
      }
    }
    &__out {
      &--btn {
        @include btn;
        position: relative;
        .outbtn {
          @include btnwrite;
        }
      }
    }
    &__adin {
      &--btn {
        @include btn;
        position: relative;
        .adbtn {
          @include btnwrite;
        }
      }
    }
    &__adedit {
      &--btn {
        @include btn;
        position: relative;
        .adeditbtn {
          @include btnwrite;
        }
      }
    }
    &__newcard {
      &--btn {
        @include btn;
        position: relative;
        .newcardbtn {
          @include btnwrite;
        }
      }
    }
  }
}
// 下記はユーザーページ（index）の記述
.userTopMain {
  background-color: #f8f8f8;
  display: flex;  
  padding: 50px 200px;
  &__wrapper {
    @include wrapper();
    background-color: white;
    width: 100%;
    margin-left: 50px;
    .userTopMainFrame {
      height: 80vh;
      text-decoration: none;
      display: flex;
      .showUserName {
        text-decoration: none;
        margin: 100px auto;
        font-size: 20px;
        color: #3DCACE;
        height: 70px;
        width: 200px;
        text-align: center;
        border: solid;
        line-height: 70px;
        border-radius: 5px;
        font-weight: 550;
        border-color: #3DCACE;
        background-color: white;
      }
    }
  }
}
// 下記はユーザーの詳細ページ（show）の記述
@mixin centerin {
  display: flex;
  margin: auto;
}
@mixin iamguide {
  margin: 30px auto 0;
}
@mixin iam {
  margin: 10px auto 0;
  font-size: 20px;
}

#iamtext {
  font-weight: 600;
  border-bottom: solid 3px #3DCACE;
}
.iamMain {
  background-color: #f8f8f8;
  display: flex;
  padding: 50px 200px;
  &__wrapper {
    @include wrapper();
    background-color: white;
    width: 100%;
    margin-left: 50px;
    .iamFrame {
      margin: 0 auto;
      width: 70%;
      .iamTitle {
        font-size: 20px;
        margin: 0 auto;
        text-align: center;
        font-weight: 600;
        padding-bottom: 40px;
      }
      .iamNickname__guide {
        @include iamguide;
      }
      .iamNickname__iam {
        @include iam;
      }
      .iamName__guide {
        @include iamguide;
      }
      .iamName__iam {
        @include iam;
      }
      .iamKana__guide {
        @include iamguide;
      }
      .iamKana__iam {
        @include iam;
      }
      .iamBirth__guide {
        @include iamguide;
      }
      .iamBirth__iam {
        @include iam;
      }
      .iamTel__guide {
        @include iamguide;
      }
      .iamTel__iam {
        @include iam;
      }
      .iamCity__guide {
        @include iamguide;
      }
      .iamCity__iam {
        @include iam;
      }
      .iamCity__iamRoom {
        @include iam;
      }
    }
  }
}
// 下記はユーザー情報編集ページの記述
.userEdit {
  height: 1100px;
  width: 100vw;
  display: flex;
  padding: 50px 200px;
  &__main {
    height: 2000px;
    width: 80%;
    &--title {
      height: 30px;
      width: 80%;
      margin: 10px auto;
      text-align: center;
      font-size: 20px;
    }
    &__nic {
      height: 100px;
      width: 80%;
      margin: 10px auto;
      font-size: 20px;
      &--guide {
        height: 40px;
        width: 80%;
      }
      &--in {
        height: 40px;
        width: 100%;
        border: solid 2px;
        margin-top: 5px;
        background-color: gainsboro;
      }
    }
    &__data {
      height: 100px;
      width: 80%;
      margin: 10px auto;
      font-size: 20px;
      &--in {
        height: 40px;
        width: 100%;
        border: solid 2px;
        background-color: gainsboro;
      }
    }
    &__name {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__nameIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      &--first {
        height: 40px;
        width: 40%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
      &--last {
        height: 40px;
        width: 40%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
    }
    &__kana {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__kanaIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      &--first {
        height: 40px;
        width: 40%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
      &--last {
        height: 40px;
        width: 40%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
    }
    &__birthday {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__birthdayIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      &--year {
        height: 40px;
        width: 30%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
      &--mon {
        height: 40px;
        width: 30%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
      &--day {
        height: 40px;
        width: 30%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
    }
    &__postalCode {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__postalCodeIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      border: solid 2px;
      background-color: gainsboro;
    }
    &__prefectur {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__prefecturIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      border: solid 2px;
      background-color: gainsboro;
    }
    &__city {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__cityIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      border: solid 2px;
      background-color: gainsboro;
    }
    &__address {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__addressIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      border: solid 2px;
      background-color: gainsboro;
    }
    &__room {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__roomIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      border: solid 2px;
      background-color: gainsboro;
    }
    &__regi {
      height: 40px;
      width: 80%;
      margin: 10px auto;
      font-size: 20px;
      display: flex;
      &--btn {
        height: 40px;
        width: 150px;
        margin: auto;
        text-align: center;
        background-color: red;
        border: solid 2px;
      }
    } 
  }
}
// 下記はユーザー新規登録完了画面
.done__main {
  height: 80vw;
  width: 100%;
  padding: 50px 200px;
  &__ok {
    height: 200px;
    width: 80%;
    text-align: center;
    line-height: 200px;
    font-size: 60px;
    margin: auto;
    &__message {
      height: 150px;
      width: 100%;
    }
  }
  &__link {
    height: 100px;
    width: 80%;
    margin: 20px auto;
    display: flex;
    &__top {
      height: 100px;
      width: 30%;
      margin: auto;
      text-align: center;
      .topBtn {
        font-size: 25px;
        text-decoration: none;
        color: black;
        line-height: 100px;
      }
    }
    &__mypage {
      height: 100px;
      width: 30%;
      margin: auto;
      text-align: center;
      .myBtn {
        font-size: 25px;
        text-decoration: none;
        color: black;
        line-height: 100px;
      }
    }
  }
}
