// 下記はユーザーページで主に使うサイドメニュー
.user__side {
  height: 200px;
  width: 200px;
  margin-top: 30px;
  margin-left: 10%;
  &__set {
    height: 40px;
    width: 100px;
    margin-left: 5px;
    padding-top: 5px;
    font-size: 20px;
  }
  &__list {
    height: 214px;
    width: 200px;
    background-color: #ccffff;
    &__mypage {
      height: 70px;
      width: 200px;
      &--btn {
        height: 70px;
        width: 200px;
        margin-top: 2px;
        font-size: 20px;
        text-align: center;
        line-height: 70px;
        background-color: #33ccff;
        position: relative;
        .mybtn {
          text-decoration: none;
          color: black;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    &__pro {
      height: 70px;
      width: 200px;
      &--btn {
        height: 70px;
        width: 200px;
        margin-top: 2px;
        font-size: 20px;
        text-align: center;
        line-height: 70px;
        background-color: #33ccff;
        position: relative;
        .probtn {
          text-decoration: none;
          color: black;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    &__out {
      height: 70px;
      width: 200px;
      &--btn {
        height: 70px;
        width: 200px;
        margin-top: 2px;
        font-size: 20px;
        text-align: center;
        line-height: 70px;
        background-color: #33ccff;
        position: relative;
        .outbtn {
          text-decoration: none;
          color: black;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
// 下記はユーザーページ（index）の記述
.users__main {
  display: flex;
  &__right {
    height: 300px;
    width: 400px;
    margin-left: 15%;
    margin-top: 40px;
    margin-bottom: 250px;;
    background-color: #ccffff;
    text-align: center;
  }
  .indexName {
    line-height: 300px;
    text-decoration: none;
    font-size: 30px;
    color: black;
  }
}
// 下記はユーザーの詳細ページ（show）の記述
.show__main {
  margin-top: 60px;
  height: 1500px;
  width: 100vw;
  position: relative;
  background-color: #EEEEEE;
  &__content {
    height: 1500px;
    width: 700px;
    margin: auto;
    position: relative;
    background-color: white;
    &__user {
      height: 300px;
      width: 700px;
      margin: auto;
      position: relative;
      background-color: #bad3ff;
      &--name {
        height: 250px;
        width: 400px;
        margin: auto;
        text-align: center;
        .showUserName {
          text-decoration: none;
          color: black;
          font-size: 30px;
          line-height: 250px;
        }
      }
    }
    &__data {
      height: 200px;
      width: 700px;
    }
    &__icon {
      height: 200px;
      width: 700px;
      display: flex;
      &--fb {
        height: 100px;
        width: 100px;
        margin: 100px auto 200px 195px;
        text-align: center;
        line-height: 100px;
        background-color: blue;
      }
      &--tw {
        height: 100px;
        width: 100px;
        margin: 100px auto;
        text-align: center;
        line-height: 100px;
        background-color: cornflowerblue;
      }
      &--ln {
        height: 100px;
        width: 100px;
        margin: 100px 195px 200px auto;
        text-align: center;
        line-height: 100px;
        background-color: lawngreen;
      }
    }
    &__goods {
      height: 700px;
      width: 700px;
      &--name {
        height: 50px;
        width: 700px;
        font-size: 30px;
      }
      &--product {
        height: 200px;
        width: 200px;
        margin-top: 20px;
        margin-left: 25px;
        margin-right: 25px;
        background-color: maroon;
      }
    }
  }
}
// 下記はユーザー情報編集ページの記述
.userEdit {
  height: 1100px;
  width: 100vw;
  display: flex;
  &__main {
    height: 2000px;
    width: 80%;
    &--title {
      height: 30px;
      width: 80%;
      margin: 10px auto;
      text-align: center;
      font-size: 20px;
    }
    &__nic {
      height: 100px;
      width: 80%;
      margin: 10px auto;
      font-size: 20px;
      &--guide {
        height: 40px;
        width: 80%;
      }
      &--in {
        height: 40px;
        width: 100%;
        border: solid 2px;
        margin-top: 5px;
        background-color: gainsboro;
      }
    }
    &__data {
      height: 100px;
      width: 80%;
      margin: 10px auto;
      font-size: 20px;
      &--in {
        height: 40px;
        width: 100%;
        border: solid 2px;
        background-color: gainsboro;
      }
    }
    &__name {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__nameIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      &--first {
        height: 40px;
        width: 40%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
      &--last {
        height: 40px;
        width: 40%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
    }
    &__kana {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__kanaIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      &--first {
        height: 40px;
        width: 40%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
      &--last {
        height: 40px;
        width: 40%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
    }
    &__birthday {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__birthdayIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      &--year {
        height: 40px;
        width: 30%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
      &--mon {
        height: 40px;
        width: 30%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
      &--day {
        height: 40px;
        width: 30%;
        margin: auto;
        border: solid 2px;
        background-color: gainsboro;
      }
    }
    &__postalCode {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__postalCodeIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      border: solid 2px;
      background-color: gainsboro;
    }
    &__prefectur {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__prefecturIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      border: solid 2px;
      background-color: gainsboro;
    }
    &__city {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__cityIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      border: solid 2px;
      background-color: gainsboro;
    }
    &__address {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__addressIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      border: solid 2px;
      background-color: gainsboro;
    }
    &__room {
      height: 40px;
      width: 80%;
      margin: 10px auto 0;
      font-size: 20px;
      display: flex;
      &--guide {
        height: 40px;
        width: 150px;
        text-align: center;
      }
      &--nin {
        height: 30px;
        width: 40px;
        font-size: 15px;
        text-align: center;
        color: white;
        line-height: 30px;
        background-color: gainsboro;
      }
    }
    &__roomIn {
      height: 40px;
      width: 80%;
      margin: auto;
      font-size: 20px;
      display: flex;
      border: solid 2px;
      background-color: gainsboro;
    }
    &__regi {
      height: 40px;
      width: 80%;
      margin: 10px auto;
      font-size: 20px;
      display: flex;
      &--btn {
        height: 40px;
        width: 150px;
        margin: auto;
        text-align: center;
        background-color: red;
        border: solid 2px;
      }
    } 
  }
}
// 下記はユーザー新規登録完了画面
.done__main {
  height: 80vw;
  width: 100%;
  &__ok {
    height: 200px;
    width: 80%;
    text-align: center;
    line-height: 200px;
    font-size: 60px;
    margin: auto;
    &__message {
      height: 150px;
      width: 100%;
    }
  }
  &__link {
    height: 100px;
    width: 80%;
    margin: 20px auto;
    display: flex;
    &__top {
      height: 100px;
      width: 30%;
      margin: auto;
      text-align: center;
      .topBtn {
        font-size: 25px;
        text-decoration: none;
        color: black;
        line-height: 100px;
      }
    }
    &__mypage {
      height: 100px;
      width: 30%;
      margin: auto;
      text-align: center;
      .myBtn {
        font-size: 25px;
        text-decoration: none;
        color: black;
        line-height: 100px;
      }
    }
  }
}