// 下記はユーザーパージで主に使うサイドメニュー
.user__side {
  height: 200px;
  width: 200px;
  margin-top: 30px;
  margin-left: 10%;
  &__set {
    height: 40px;
    width: 100px;
    margin-left: 5px;
    padding-top: 5px;
    font-size: 20px;
  }
  &__list {
    height: 214px;
    width: 200px;
    background-color: #ccffff;
    &__mypage {
      height: 70px;
      width: 200px;
      &--btn {
        height: 70px;
        width: 200px;
        margin-top: 2px;
        font-size: 20px;
        text-align: center;
        line-height: 70px;
        background-color: #33ccff;
        position: relative;
        .mybtn {
          text-decoration: none;
          color: black;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    &__pro {
      height: 70px;
      width: 200px;
      &--btn {
        height: 70px;
        width: 200px;
        margin-top: 2px;
        font-size: 20px;
        text-align: center;
        line-height: 70px;
        background-color: #33ccff;
        position: relative;
        .probtn {
          text-decoration: none;
          color: black;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    &__out {
      height: 70px;
      width: 200px;
      &--btn {
        height: 70px;
        width: 200px;
        margin-top: 2px;
        font-size: 20px;
        text-align: center;
        line-height: 70px;
        background-color: #33ccff;
        position: relative;
        .outbtn {
          text-decoration: none;
          color: black;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
// 下記はユーザーページ（index）の記述
.users__main {
  display: flex;
  &__right {
    height: 300px;
    width: 400px;
    margin-left: 15%;
    margin-top: 40px;
    margin-bottom: 250px;;
    background-color: #ccffff;
    text-align: center;
  }
  .indexName {
    line-height: 300px;
    text-decoration: none;
    font-size: 30px;
    color: black;
  }
}
// 下記はユーザーの詳細ページ（show）の記述
.show__main {
  margin-top: 60px;
  height: 1500px;
  width: 100vw;
  position: relative;
  background-color: #EEEEEE;
  &__content {
    height: 1500px;
    width: 700px;
    margin: auto;
    position: relative;
    background-color: white;
    &__user {
      height: 300px;
      width: 700px;
      margin: auto;
      position: relative;
      background-color: #bad3ff;
      &--name {
        height: 250px;
        width: 400px;
        margin: auto;
        text-align: center;
        .showUserName {
          text-decoration: none;
          color: black;
          font-size: 30px;
          line-height: 250px;
        }
      }
    }
    &__data {
      height: 200px;
      width: 700px;
    }
    &__icon {
      height: 200px;
      width: 700px;
      display: flex;
      &--fb {
        height: 100px;
        width: 100px;
        margin: 100px auto 200px 195px;
        text-align: center;
        line-height: 100px;
        background-color: blue;
      }
      &--tw {
        height: 100px;
        width: 100px;
        margin: 100px auto;
        text-align: center;
        line-height: 100px;
        background-color: cornflowerblue;
      }
      &--ln {
        height: 100px;
        width: 100px;
        margin: 100px 195px 200px auto;
        text-align: center;
        line-height: 100px;
        background-color: lawngreen;
      }
    }
    &__goods {
      height: 700px;
      width: 700px;
      &--name {
        height: 50px;
        width: 700px;
        font-size: 30px;
      }
      &--product {
        height: 200px;
        width: 200px;
        margin-top: 20px;
        margin-left: 25px;
        margin-right: 25px;
        background-color: maroon;
      }
    }
  }
}

